<h5>Criminal Information for <%= @criminal.proper_name %></h5><br />
<div class="card">
  <div class="card-content">

    <b>Also Known As:&nbsp;&nbsp;</b>
      <%= @criminal.aka %><br /><br />

    <b>Enhanced Being?:&nbsp;&nbsp;</b>
      <%= @criminal.enhanced_powers ? "Yes" : "No" %><br /><br />

    <b>Convicted Felon?&nbsp;&nbsp;</b>
      <%= @criminal.convicted_felon ? "Yes" : "No" %><br><br><br>
  </div>
</div>